h1{
    background-color: #d21e1e;
    color: black;
}
.camera1{
    background-color: aqua;
}
.camera2{
    background-color: aquamarine;
}
.camera3{
    background-color: cadetblue;
}
.camera4{
    background-color: darkcyan;
}
.Meghana{
    font-size: large;
}
.Saipallavi{
    font-size: large;
}
.Samantha{
    font-size: small;
}
.name{
    background-color: blue;
}
.age{
    background-color: gray;
}
.job{
    background-color: gray;
}
.tbody{
    background-color: cadetblue;
}
.css{
    background-color: purple;
}
.sai{
    background-color: chartreuse;
}